<div id="banner">
  <div class="banner-container site-container">
    <div class="banner-right">
      <span>Clone</span>
      <strong>BnB</strong>
    </div>

    <div class="banner-left">
    </div>
  </div>
</div>